body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
  }

  #message-container {
    width: 80%;
    max-width: 1200px;
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  #message-container div {
    background-color: #0080F7;
    color: #FFF;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: inline-block;
    width: max-content;
  }

  #message-container div:nth-child(2n) {
    background-color: #202124;
    margin-left: auto;
  }

  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    max-width: 1200px;
    width: 80%;
    display: flex;
    gap: 10px;
  }

  #message-input {
    flex-grow: 1;
    border: 0px;
    background-color: #333;
    border-radius: 5px;
    padding: 20px;
    color: #FFF;
  }
  #message-input:focus{
    outline: none;
    background-color: #222;
  }
  #send-button{
    border: 0px;
    background-color: rgb(65, 150, 65);
    color: #FFF;
    border-radius: 5px;
    padding: 10px 40px;
  }